.layout-wrapper-c99ca09 {
    margin: auto;
    width: 60cqw;
    padding: 1cqw;
    background-color: #333;
    border-radius: 1cqw;
}

.layout-wrapper-inner-c99ca09 {
    container-type: inline-size;
}

.key-c99ca09 {
    font-size: 3.5cqw;
    position: absolute;
    background-color: #111;
    /* border-radius: 0.4cqw; */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    container-type: inline-size;
}

.key-border-c99ca09 {
    position: absolute;
    background-color: transparent;
    border: 0.2cqw solid #555;
    /* border-radius: 0.4cqw; */
}

.pinned-c99ca09 {
    position: absolute;
    left: 69.9cqw;
    top: 0.1cqw;
    width: 0;
    height: 0;
    border-left: 15.0cqw solid transparent;
    border-top: 15.0cqw solid #ddd;
    border-right: 15.0cqw solid #ddd;
    border-bottom: 15.0cqw solid transparent;
    /* background-color: red; */
}

.stats-wrapper-c99ca09 {
    margin: auto;
    width: 80cqw;
    padding: 1cqw;
    background-color: #333;
    border-radius: 1cqw;
    margin-top: 3cqw;
    font-size: 125%;
}

.optimize-button-wrapper-c99ca09 {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 1cqw;
}

.optimize-button-c99ca09 {
    /* margin-left: 10cqw; */
    font-size: 100%;
}

.stats-table-c99ca09 {
    width: 100%;
    font-size: 50%;
}

.stat-row-c99ca09 {
    /* background-color: red; */
    margin: auto;
}

.stat-td-c99ca09 {
    border: 1px solid #555;
    /* background-color: red; */
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5cqw;
    color: #ddd;
    overflow: scroll;
}

a:link {
    color: #4C72CF;
}

a:visited {
    color: #7E4DCF;
}

.nav-798f66a {
    border-bottom: 0.1cqw solid #555;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-elem-798f66a {
    display: inline-block;
    margin: -0.4cqw 0cqw -0.4cqw 2cqw;
}

.home-header-798f66a {
    text-align: center;
    font-size: 200%;
}

.post-wrapper-31d4b33 {
    display: flex;
    justify-content: center;
}

.post-31d4b33 {
    padding: 2cqw;
    border-radius: 0.5cqw;
    width: 80%;
    background-color: #111;
    
}