.layout-wrapper {
    margin: auto;
    width: 60cqw;
    padding: 1cqw;
    background-color: #333;
    border-radius: 1cqw;
}

.layout-wrapper-inner {
    container-type: inline-size;
}

.key {
    font-size: 3.5cqw;
    position: absolute;
    background-color: #111;
    border: 0.1cqw solid #555;
    border-radius: 0.6cqw;
    /* margin: 1cqw; */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.stats-wrapper {
    margin: auto;
    width: 80cqw;
    padding: 1cqw;
    background-color: #333;
    border-radius: 1cqw;
    margin-top: 3cqw;
    font-size: 125%;
}

.optimize-button-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 1cqw;
}

.optimize-button {
    /* margin-left: 10cqw; */
    font-size: 100%;
}

.stats-table {
    width: 100%;
    font-size: 50%;
}

.stat-row {
    /* background-color: red; */
    margin: auto;
}

.stat-td {
    border: 1px solid #555;
    /* background-color: red; */
}

.stat-finger {
    width: 5cqw;
}

.stat-table-header {
    font-size: 130%;
    width: 100%;
    margin: auto;
    margin-top: 1cqw;
    margin-bottom: 1cqw;
}