html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5cqw;
    color: #ddd;
    overflow: scroll;
}

a:link {
    color: #4C72CF;
}

a:visited {
    color: #7E4DCF;
}

.nav {
    background-color: #333;
    /* height: 4cqw; */
    padding: 0.5cqw;
}